{% extends "inc/base.html" %}
{% load static %}

{% block navbar_templates %}
    {% include navbar_templates|random %}
{% endblock %}

{% block content %}
  <div class="question-to-answer">
    <div class="row">
      <div class="col-3">
        <div class="question-avatar">
          <img src="{{ question.author.photo.url }}" alt="avatar">
        </div>
        <div class="row">
          <div class="rating">
            <button class="btn like-btn"><img src="{% static 'img/like.png' %}" class="like-image"></button>
            <span class="likes">0</span>
            <button class="btn dislike-btn"><img src="{% static 'img/dislike.png' %}" class="dislike-image"></button>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="question-title">{{ question.title }}</div>
        <div class="question-to-answer-text">{{ question.text }}</div>
          Tags:
          {% for tag in question.tag.all %}
            <a href="{% url "tag" tag %}">{{ tag }}</a>
          {% endfor %}
      </div>
    </div>
  </div>
  <div class="line"></div>

  {% for answer in answers %}
    {%  include "inc/answer_item.html" %}
  {% endfor %}

  <div class="line"></div>
  <div class="form-group">
    <input type="email" class="form-control form-control-custom" id="exampleFormControlInput1" placeholder="Enter your answer here">
  </div>
  <button class="btn btn-outline-secondary" type="submit" style="margin-bottom: 20px;" id="send-answer-button">
    <a href="{% url "index" %}" class="a-answer">Answer</a>
  </button>

  {% if answers.has_other_pages %}
    <ul class="pagination">
      {% if answers.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ answers.previous_page_number }}">Previous</a></li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">Previous</span></li>
      {% endif %}

      {% if answers.number > 3 %}
        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        {% if answers.number > 4 %}
          <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}
      {% endif %}

      {% for i in answers.paginator.page_range %}
        {% if i >= answers.number|add:"-2" and i <= answers.number|add:"2" %}
          {% if answers.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }}</span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if answers.number < answers.paginator.num_pages|add:"-2" %}
        {% if answers.number < answers.paginator.num_pages|add:"-3" %}
          <li class="page-item disabled"><span class="page-link">...</span></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{ answers.paginator.num_pages }}">{{ answers.paginator.num_pages }}</a></li>
      {% endif %}

      {% if answers.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ answers.next_page_number }}">Next</a></li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">Next</span></li>
      {% endif %}
    </ul>
  {% endif %}

{% endblock content %}